@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-lg font-['Roboto',Arial,sans-serif];
    overflow: hidden;
    overscroll-behavior: none;
  }

  #game {
    @apply w-screen h-screen;
  }
}

html, body, #game {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}